.panel {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.images {
    flex: 1 1 0%;
    width: 75%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: flex 0.5s ease-in-out;
    border: 2px inset;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    color: antiquewhite;
    padding: 40px;
}



.active {
    flex: 3 1 0%;
}
